.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 145px;
  }
  
  .header {
    width: 115px;
    height: 52px;
    left: 36px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  mat-card-subtitle {
    color: #606060;
  }

  .example-card2 {
    width: calc(25% - 20px);
    margin: 10px;
    width: 332px;
    height: 212px;
    background-color: #202020;
    color: #fff;
    border-radius: 16px;
  }
  
  .example-header-image2 img {
    width: 134px;
    top: 10px;
  }
  
  .button2 {
    background-color: #F6CE0E;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
  }

  .g-1 {
    display: flex;
  }
  
  .coin2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  
  .button3 {
    padding: 0;
    margin-top: 12px;
  }
  
   .content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
  }
   