<mat-toolbar>
    <div class="logo"><img class="logo-img" src="assets/images/logo.png" alt="">
    </div>
    <div class="content-icon">
        <div class="icon">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon><img src="assets/images/shop.png"></mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon><img src="assets/images/person.png"></mat-icon>
            </button>

            <div class="icon-logo">
                <button mat-icon-button class="example-icon">
                    <mat-icon><img src="assets/images/nft.png"></mat-icon>
                </button>
                <span style="color: #F6CE0E; font-size: 18px; margin-top: 10px; font-weight: 500;">Shop NFT</span>
            </div>

            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon><img src="assets/images/game.png"></mat-icon>
            </button>

            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon><img src="assets/images/shop.png"></mat-icon>
            </button>

            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon><img src="assets/images/icon2.png"></mat-icon>
            </button>

        </div>

        <div class="icon-left">
            <span class="example-spacer"></span>
            <div class="demo-section">
                <button mat-icon-button>
                    <mat-icon matBadge="2" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
                </button>
                <span class="cdk-visually-hidden">
                </span>
            </div>
            <mat-card></mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>

            <div class="example-button-row">
                <button mat-stroked-button>0xbAo7..f08a</button>
            </div>
        </div>
    </div>
</mat-toolbar>